
<div class="card w-96 h-96 bg-base-100 shadow-xl">
  <figure class="px-8 mt-4"><img [src]="product?.image" alt="product image"/></figure>
  <div class="card-body">
    <div class="flex justify-between">
      <div>
        <nz-rate [ngModel]="product.rating.rate" nzDisabled></nz-rate> <span>{{product.rating.count}}</span>
      </div>
      <div>
        {{product?.price}}$
      </div>
    </div>


    <h2 class="card-title line-clamp-2">{{product?.title}}</h2>
    <p class="line-clamp-3">{{product?.description}}</p>

    <div class="card-actions">
      <input type="number" min="1" placeholder="Quantity" [(ngModel)]="product.quantityInCart"/>
      <button type="button" class="cursor-pointer" [disabled]="!product.quantityInCart" (click)="addToCart()"><i class="fa fa-shopping-cart"></i></button>
    </div>
  </div>
</div>
