

<div *ngIf="isLoading" class="flex justify-center mt-200px">
  <app-loading-card></app-loading-card>
</div>
<div class="w-full flex mt-4" *ngIf="!isLoading" style="min-width: 60%">

  <div >
    <!--search-->
    <input type="text" placeholder="Search here" class="input w-full max-w-xs" [(ngModel)]="searchText" (ngModelChange)="onSearch($event)"/>
    <hr>

    <div class="grid gap-4 grid-cols-2">

      <div *ngFor="let product of productList">
        <app-product [product]="product" (onAddToCart)="addProductToCart($event)"></app-product>
      </div>
    </div>
  </div>


  <div>
    <!-- Cart-->
    <div class="flex">
      <app-cart [cartItems]="cartItems" (onItemRemoved)="onProductRemovedFromCart($event)"></app-cart>
    </div>
  </div>

</div>
