<nz-layout class="app-layout">

  <nz-layout>
    <nz-header>
      <div class="app-header">
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">


        <div *ngIf="isLoading" class="flex">
          <div class="grid gap-4 grid-cols-2">
            <app-loading-card></app-loading-card>
            <app-loading-card></app-loading-card>
            <app-loading-card></app-loading-card>
            <app-loading-card></app-loading-card>
          </div>
        </div>
        <div class="w-full flex mt-4" *ngIf="!isLoading" style="min-width: 60%">

          <div >
            <!--search-->
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" nz-input placeholder="Search here" [(ngModel)]="searchText" (ngModelChange)="onSearch($event)"/>
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i nz-icon nzType="search"></i>
            </ng-template>

            <hr>

            <div class="grid gap-4 grid-cols-2">

              <div *ngFor="let product of productList">
                <app-product [product]="product" (onAddToCart)="addProductToCart($event)"></app-product>
              </div>
            </div>
          </div>


          <div>
            <!-- Cart-->
            <div class="flex">
              <app-cart [cartItems]="cartItems" (onItemRemoved)="onProductRemovedFromCart($event)"></app-cart>
            </div>
          </div>

        </div>

      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
